.primary-nav {
    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;

        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        padding-right: 20px;
        display: inline-block;

        @mixin atMedium {
            float: right;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 20px;
        }
    }

    a {
        font-weight: 300;
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 5px 8px;
        font-size: 0.8rem;
        background-color: rgba($mainBlue, 0.3);

        @mixin atMedium {
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
        }
    }


}